{% extends 'base.html' %}
{% block title %}
    Edit task
{% endblock %}
{% block content %}
    <div class="container">
        <div class="box">
            <div class="head_text heading text-left">
                <p class="main-title-home">To do task edit</p>
            </div>
           <form action="{% url 'edit_project' project.pk %}" method="POST">
               {% csrf_token%}
               <div class="form">
                   {% include 'partials/project_form.html' with button_text='Update project' %}
               </div>
           </form>
        </div>
    </div>
{% endblock %}